@media only screen and (max-width: 1111px) {
  * {
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 62);
    min-height: 200px;
    width: 100vw;
  }

  nav img {
    height: 100px;
  }

  .foursec {
    max-width: 80vw;
    margin: auto;
    min-height: 20vh;
  }

  .secondsec .ver {
    height: 93px;
    width: 2px;
    background-color: white;
    margin: 0 219px;
  }
  .secondsec .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 90px 0;
    display: flex;
  }
  .secondsec {
    width: 80vw;
    margin: auto;
    min-height: 26vh;
  }
  .thsec .box {
    width: 80vw;
    height: 23vh;
    margin: 0px 0;
    display: flex;
    flex-direction: column;
  }
  .thsec {
    width: 80vw;
    margin: auto;
    min-height: 30vh;
  }
  .cd {
    width: 30vw;
    min-height: 15vh;
    margin: 50px 5px;
    padding: 20px;
    background-color: rgb(170, 107, 228);
    border: 3px solid white;
    color: white;
  }
  .fosec {
    width: 80vw;
    margin: auto;
    min-height: 28vh;
  }
}
